.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: smoothPopUp 1s ease;
}

hr {
  width: 100%;
  color: antiquewhite;
}

.blockContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.blockItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 10px;
}

@media (min-width: 375px) {
  .container {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 40px;
  }

  .rightBlock,
  .leftBlock {
    gap: 30px;
  }
}

@keyframes smoothPopUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
